.cards-wrapper
    min-width 500px
    min-height 500px
    padding-top 3em

.car-card
    color black
    font-size 1em
    border 1px solid rgba(58, 55, 55, 0.402)
    padding 1em
    max-height 200px