.content-wrapper
    min-width 500px
    min-height 500px
    padding-top 3em

.wrapper
    display flex
    justify-content space-between
    background-color #AD5C36
    color white
    text-align center
    padding 1.3em

    &__title
        font-size 1.6em

    &__add-button
        border-radius .3em
        padding .7em
        font-size 1.2em
        background-color #4c9f4c
        
.table-costcenter
    display flex
    justify-content space-around

    &__item
        text-align center
        border 1px solid #efefef
        background-color #EEE
        padding .5em
        width 100%

.costcenter
    display flex
    justify-content space-around

    &__item
        border 1px solid #efefef
        padding .5em
        width 100%

    &__options-title
        width 40%

.options-wrapper
    display flex


