.content-wrapper
    min-width 500px
    min-height 500px
    padding-top 3em

.wrapper
    &__title
        text-align center
        border 1px solid #efefef
        background-color rgb(181, 181, 181)

.table-costCenter
    display flex
    justify-content space-around

    &__item
        text-align center
        border 1px solid #efefef
        background-color #EEE
        padding .5em
        width 100%

.costCenter
    display flex
    justify-content space-around

    &__item
        border 1px solid #efefef
        padding .5em
        width 100%
