.footer
    background-color #252525
    color white
    height 70px
    position fixed
    bottom 0
    left 0
    width 100%
    display flex
    justify-content center
    align-items center
    border-right solid #efefef

    &__title
        border-right solid #efefef
        padding 20px
        font-family "Roboto"
        font-weight bold
        font-size 1em

    &__element
        display flex
        justify-content flex-end
        width 100%
        padding-right 20px
    
    &__email
        padding 1em
        font-family "Roboto"
        font-weight bold

    
    &__element-icon
        padding 1em
        transform translateY(1px) scale(1.5)

        a 
            color white

    
