* 
    margin 0
    padding 0
    box-sizing border-box
    text-decoration none
    font-family 'Roboto', sans-serif

body 
    background-image url(../images/bg1.jpg)
    background-size cover
    background-repeat no-repeat
    background-attachment fixed
    background-position center center

.login
    width 100%
    max-width 800px
    padding 220px
    
.login__form
    background  white
    margin auto
    padding 80px 20px
    border-radius 20px
    text-align center
    margin-bottom 20px

    &__title
        color #46A2FD


    &__input
        width 100%
        margin-top 20px
        padding 10px
        border none
        background #F2F2F2
        font-size 16px
        outline none

    &__btn
        margin-bottom 0px
        background #46A2FD
        color #fff
        border none

        :hover
            background #64aff9
            cursor pointer







