// .navbar-login
//     display none

// .login__form
//     display flex
//     padding 10px
    
  
// .login__input
//     color white
//     font-weight bold
//     margin 10px
//     border 1px solid #60642a
//     padding 1em
//     background-color rgb(57, 57, 35)
//     border-radius 10px
    

// .btn
//     cursor pointer
//     font-weight bold
//     color rgb(141, 136, 136)
//     margin 10px
//     border 1px solid #60642a
//     padding 0.5em
//     border-radius 10px
//     background rgb(115, 115, 31)







