.navbar 
    background-color #46A2FD
    display flex
    align-items center
    justify-content space-between

    &__item 
        text-decoration none
        margin-right 1em
        color white

    &__title 
        padding-left 1em
        display flex
        color white






