.navbar
	background-color #252525
	display flex
	align-items center
	justify-content space-between

	&__wrapper-items
		display flex

	&__item
		text-decoration none
		margin-right 1em
		color white

	&__title
		width 200px
		height 70px

		&:hover
			cursor pointer






