.sidebar.active
    transition all .4s ease
    width 300px

    .head__company
        display block

    .options__text
        display block

.sidebar
    background-color #030849
    height 100vh
    position fixed
    color white
    width 70px
    transition all .4s ease
    top 0

    .head__company
        display none

    .options__item
        padding 1.7em .5em

    .options__text
        display none

.head
    display flex
    justify-content space-around
    align-items center
    padding-top 2em

    &__company
        max-width 120px
        max-height 40px

        img
            width 100%
            height 100%

    &__menu
        &:hover
            cursor pointer


.options
    padding 7em .5em

    a
        text-decoration none
        color white


    &__item
        padding 1.7em
        display flex
        align-items center

        &:hover
            cursor pointer
            border-radius .6em
            background-color rgba(255, 255, 255, 0.254)
            transition all .4s ease-in-out

    &__text
        padding-left .5em

.logout-wrapper
    padding-top 8em

    a
        text-decoration none
        color white

