.container__register 
    width 100%
    max-width 800px
    margin auto
    padding 150px
    

.container__date-register form
    background  white
    margin auto
    padding 80px 20px
    border-radius 20px

.form__register
    color #46A2FD
    text-align center
    margin-bottom 20px


.container__date-register form input 
    width 100%
    margin-top 20px
    padding 10px
    border none
    background #F2F2F2
    font-size 16px
    outline none

.container__date-register form button 
    padding 10px 100px
    margin-top 40px
    border none
    font-size 14px
    background #46A2FD
    font-weight 600
    cursor pointer
    color white
    outline none