// @font-face {
//     font-family: 'Roboto';
//     src: url('././fonts/Roboto-Medium.ttf');
// }

.content-wrapper
    min-height 500px
    max-width 1500px
    margin 3em auto
    box-shadow rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
    font-family: 'Roboto';

.wrapper
    display flex
    justify-content space-between
    background-color #699361
    color white
    padding 1em
    
    &__title
        text-align center
        font-size 1.4em
    
    &__add-button
        background-color #2d2d2d
        border-radius 1.5em
        color white
        padding 1em

        &:hover
            box-shadow rgba(0, 0, 0, 0.341) 0px 3px 8px
            cursor pointer
            transition-duration 0.6s


.table__row
    background-color #e8e8e8
    font-size 1.2em
    text-align center

    &__item input
        text-align center
        
.wrapper-icons
    display flex
    justify-content space-around

    &__item
        background-color #82ab7a
        padding .5em
        border-radius .2em

        &:hover
            cursor pointer
            background-color #6e9068

// .table__select 
//         width 95%
//         border none
//         background-color white


        