.form-register
    color #46A2FD
    border 1px solid #ccc
    padding 20px
    background-color white
    max-width 400px
    width 80vw

    &__title
        text-align center

    &__label
        font-size 12px
        display block
        width 100%

    &__input
        margin-bottom 20px
        width 100%
        padding 10px
        box-sizing border-box
        border 1px solid #ccc 

    &__btn
        width 100%
        padding 10px
        background #46A2FD
        color #fff
        border none

        &:hover 
            background #64aff9
            cursor pointer


@media screen and (min-width: 1024px)
    .form-register
        width 400px
