.content-wrapper
    min-width 500px
    min-height 500px
    padding-top 3em

.title__userTable
    display grid
    text-align center
    border 1px solid #efefef
    background-color rgb(181, 181, 181)

.table__user
    display grid
    grid-template-columns repeat(4, 1fr)
    gap .2em

    &__person
        text-align center
        border 1px solid #efefef
        background-color #EEE
        padding .5em

.person
    display grid
    grid-template-columns repeat(4, 1fr)
    gap .2em

    &__item
        border 1px solid #efefef
        padding .5em

.options-wrapper
    display flex