.button
    border-radius 4px
    padding 0.4em 0.8em
    border 1px solid #efefef
    text-align center
    background-color white
    color #333
    opacity .9

    &--primary
        background-color color-primary
        color color-secondary

    &:hover
        cursor pointer
        opacity 1
