.button
    border-radius 4px
    padding 0.4em 0.8em
    border 1px solid #efefef
    text-align center
    background-color white
    color #333
    opacity .9
    transition-duration 0.2s

    &--info
        background-color #699361
        color white

    &--primary
        background-color color-primary
        text-decoration none
        padding 10px
        font-weight 600
        font-size 15px
        color rgba(0, 0, 0, 0.602)
        border 2px solid #eed70a
        

        &:hover
            cursor pointer
            transition-duration 0.2s
            

    &--danger
        background-color #f14668
        color white

    &--disabled
        opacity .5
        background-color gray

    &--hidden
        pointer-events none
        opacity 0

    &:hover
        opacity 1
        cursor pointer

    &--small
        padding 0.7em 1em
        font-weight bold
