.car-table
    min-height 80vh
    margin-left 4.4em
    *
        box-sizing border-box

    &__row
        display grid
        grid-template-columns .4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr

        & > div
            border 1px solid #efefef
            padding .5em
            display flex
            align-items center
            // justify-content space-evenly

    &__options
        justify-content space-between
        align-items center

        &__item
            padding 1em
            border-radius .7em
            color color-gray-text

            &:hover
                color black
                cursor pointer

.selector,
.editable-input
    border none
    width 100%

.selector
    background-color white

.hidden-upload
    display none

.download-button,
.upload-button
    &:hover
        cursor pointer

// .for-expired
//     background-color grey
//     border 1px solid rgba(245, 13, 13, 0.6)

//     select,
//     input
//         background-color grey

// .for-has-expired
//     background-color red
//     border 1px solid rgba(245, 13, 13, 0.6)

//     select,
//     input
//         background-color red


// .for-very-near-expired
//     background-color yellow
//     border 1px solid rgba(245, 13, 13, 0.6)

//     select,
//     input
//         background-color yellow

// .for-near-expired
//     background-color rgba(0, 128, 0, 0.4)
//     border 1px solid rgba(245, 13, 13, 0.6)

//     select,
//     input
//         background-color rgba(0, 128, 0, 0)

@media screen and (min-width: viewport)
    .car-table
        &__options
            max-width 270px
