// .search 
//     padding 10px 0
//     text-align center

//     input
//         font-size 16px
//         height 44px
//         color #0a0a0a
//         padding-left 55px
//         -webkit-border-radius 5px
//         position relative

// .icon
//     font-size 35px
//     color #323232
//     transform translateY(-50%)


.search 
    border 1px solid red
    display flex
    max-width 500px

    &__icon
        border 1px solid blue


.car-table
    min-height 80vh
    *
        box-sizing border-box

    &__row
        display grid
        grid-template-columns repeat(7, 1fr)

        & > div
            border 1px solid #efefef
            padding .5em
            display flex
            align-items center

    &__options
        display flex
        justify-content space-between
        align-items center

        .button
            width 55px

.button--danger
    cursor pointer
    font-size 10px


.button--info
    cursor pointer
    margin-left 40px
    font-size 10px

.selector,
.editable-input
    border none
    width 100%

.selector
    background-color white


.hidden-upload
    display none


.download-button,
.upload-button
    &:hover
        cursor pointer
