color-primary = #1f1e1d
color-secondary = #323232
color-gray-text = #686868
viewport = 1024px

body
    padding 0
    margin 0
    border 0
    font-family 'Roboto', sans-serif


@require 'button'
@require 'editable-input'
