.hero-dual
    display flex
    justify-content space-between
    align-items center
    padding 3em 2em 4em
    color white
    font-weight bold
    font-family 'Roboto', sans-serif

.hero-primary
    background-color #00b096
