.search
    display flex

    &__input
        display flex
        position relative

        input
            box-shadow none
            border 1px solid #333
            padding 1em 2em
            border-radius 7px
            width 500px

            &:focus
                outline none

    &__icon
        width 45px
        display flex
        align-items center
        justify-content center
        height 100%
        position absolute
        right 0

        .icon
            font-size 1.2em
