.table
    &__row
        display grid
        margin-bottom .5em

        &__item
            border 1px solid #efefef

            input
                border 0
                width 100%
                height 100%
                padding .5em

                &:focus
                    outline none

        &--grid-6
            grid-template-columns repeat(6, 1fr)
