@require 'ui/config'
@require 'modules/login'
// @require 'ui/modal'

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

.page
    font-family "Roboto"
    display block
    height 100vh


.navbar-login
    width 100%
    padding 1em
    box-sizing border-box
    color white
    display flex
    justify-content end
    position absolute
    top 0
    left 0

    &__container
        position fixed
        left -100%
        top 0
        width 100%
        height 100vh
        background-color rgba(0, 0, 0, .9)
        transition left .2s ease-in-out 

        &--active
            left 0
            transition left .2s ease-in-out 

.login-close-button
    font-family "Roboto"
    font-size 1.5em
    position absolute
    top 1em
    right 1em


.login-section
    display flex
    width 100%
    height 100%
    justify-content center
    align-items center


.login-form
    box-sizing border-box
    text-align center

    &__item
        box-sizing border-box
        margin-bottom .5em
        display block
        width 100%

    &__input
        padding .5em
        border 0
        border-radius 3px

    &__button
        padding .5em
        background-color #ffc108
        color black
        font-weight bold
        border 0
        border-radius 3px


.navbar-button-login
    padding .5em 1em
    border-radius 5px
    background-color #ffc108
    color #333
    font-weight bold
    max-width 100px
    text-align center
    font-family "Roboto"


.content-login
    width 100%
    height 100vh
    position absolute
    top 0
    left 0
    background-color white
    display flex
    justify-content center
    align-items center


.banner__wrapper
    background-image url('../images/bg2.jpeg')
    background-size cover
    background-position center
    width 100%
    height 100%


.banner__wrapper-shadow
    display flex
    align-items center
    justify-content center
    background-color rgba(0, 0, 0, .8)
    width 100%
    height 100%


.banner
    max-width 500px
    max-height 200px
    padding 1em
    text-align center
    display flex
    align-items center
    justify-content center
    background-color rgba(255, 255, 255, 6%)
    font-family "Roboto"
    font-size 1.2em
    width 75%
    margin 0 auto

        
    &__line-one
        margin 20px
        width 10px
        height 100px
        margin-right 1em
        border-left solid 2px #efefef
        border-top solid 2px #efefef
        border-bottom solid 2px #efefef

    &__container
        padding-right 10px

    
    &__title
        font-size 0.8em
        padding-bottom 10px
        color white
        font-weight bold

    
    &__title-paragraph
        font-size 0.4em
        color #ffffff73


    &__line-two
        margin 10 px
        width 10px
        height 100px
        margin-right 1em
        border-right solid 2px #efefef
        border-top solid 2px #efefef
        border-bottom solid 2px #efefef
    
.main-info__container
    font-family "Roboto"

    &__body
        font-size 3em
        color #fccd3c
        text-align center
    
    &__title
        font-size 1.4em
        text-align left
        display block
        max-width 200px
        padding 10px
        

    &__body-title
        color #ffffff61
        padding 10px
        font-size 0.8em
        text-align left
        max-width 250px
        

.main-info
    background-color black

    &__container
        padding-right 10px
        padding 1em
        color white
        text-align justify
        border-top 1px solid white


        .main-block-head,
        .main-block-body
            padding .5em

        .main-block-head
            font-size 1.6em
            color white
            background-color #323232

            span
                font-family "Roboto"
                font-weight bold
                text-align left
                display block
                max-width 150px
                width 150px


        .main-block-body
            text-align initial
            color #00000094
            background-color #fccd3c
            padding-bottom 5em
        

@media screen and (min-width: 1024px)
    .banner
        background-color transparent

        &__title
            font-size 1.7em

        &__title-paragraph
            padding-left 50px
            font-size 0.7em
            width 80%

        &__line-one
            width 10px
            height 140px
            border-left solid 3px #efefef
            border-top solid 3px #efefef
            border-bottom solid 3px #efefef

        &__line-two
            width 10px
            height 140px
            border-right solid 3px #efefef
            border-top solid 3px #efefef
            border-bottom solid 3px #efefef
    

    .main-info__container
        font-family "Roboto"

        &__body
            font-size 6em
            color #fccd3c
            padding-left 250px
     

    .main-info
        display grid
        grid-template-columns repeat(3, 1fr)

        &__container
            position relative
            display flex
            justify-content center
            align-items center
            min-height 200px

        &__absolute
            position absolute
            top -70px
            left 3em
            width 80%

    .main-line
        padding-right 100px


    .banner__wrapper
        height 75vh