@require 'ui/config'
@require 'modules/login'
// @require 'ui/modal'

@font-face {
    font-family: "Roboto";
    src: url("../static/fonts/Roboto/Roboto-Regular.ttf");
}

.page
    font-family "Roboto"
    display block
    height 100vh


.banner__wrapper
    background-image url('../images/bg2.jpeg')
    background-size cover
    background-position center
    width 100%
    height 100%


.banner__wrapper-shadow
    display flex
    align-items center
    justify-content center
    background-color rgba(0, 0, 0, .8)
    width 100%
    height 100%


 .banner
    max-width 500px
    max-height 200px
    padding 1em
    text-align center
    display flex
    align-items center
    justify-content center
    

    &__title
        width 100%
        height 100%
        font-family "Roboto"
        font-size 30px
        color white
        margin-bottom .5em
        text-transform uppercase

    
    &__title-paragraph
        font-family 10px "Roboto"
        color white
        font-style italic
        opacity .9


.main-info
    width 100%
    background-color black
    display grid
    grid-template-columns repeat(3, 1fr)


.info__left
    padding 40px
    width 300px
    height 100px
    margin-left auto
    

    &__left
        font-family "Roboto"
        text-align right
        text-transform uppercase
        font-size 100px
        color #bf930d


.container__info
    padding 30px
    padding-left 90px
    width 300px
    height 100px
    

    &__title
        padding-bottom 10px
        font-family "Roboto"
        font-size 24px
        color white


     &__text-two
        color rgb(198, 198, 198)
        font-size 15px


.info
    width 280px
    margin-top -110px

 
    &__rigth
        font-family "Roboto"
        font-size 28px
        display grid
        position relative
        text-align justify
        color rgba(201, 200, 200, 0.862)
        background-color #3f3f3f
        padding 20px 100px 40px 20px
    

    &__rigth__two
        font-size 15px
        background-color #bf930d
        position absolute
        margin-top 130px
        padding 20px 20px 80px 20px
        color rgba(26, 26, 26, 0.587)
        
@media screen and (min-width: 1024px)
    .page
        display grid
        grid-template-columns 1fr
        grid-template-rows 0.2fr 1.5fr .5fr

    .navbar-login
        background-color #252525
        display flex
        align-items center
        justify-content space-between 
        
