@require 'ui/config'
@require 'modules/login'
// @require 'ui/modal'


.page
    display grid
    grid-template-columns 1fr
    grid-template-rows 1.5fr .5fr
    height 100vh


.banner__wrapper
    background-image url('../images/bg2.jpeg')
    background-size cover
    background-position center
    width 100%
    height 100%


.banner__wrapper-shadow
    display flex
    align-items center
    justify-content center
    background-color rgba(0, 0, 0, .8)
    width 100%
    height 100%


 .banner
    max-width 500px
    max-height 200px
    padding 1em
    text-align center
    display flex
    align-items center
    justify-content center
    

    &__title
        width 100%
        height 100%
        font-size 1.8em
        color white
        margin-bottom .5em
        text-transform uppercase

    
    &__title-paragraph
        color white
        font-style italic
        opacity .9


.main-info
    width 100%
    background-color black
    display grid
    grid-template-columns repeat(3, 1fr)


.info__left
    width 100%
    height 100%
    text-align center
    color white
    

    &__left
        font-size 100px
        color #bf930d
        position relative
        display flex
        align-items center
        justify-content space-around
        width 100%
        height 100%
        margin 0px auto
        

.container__info
    width 100%
    height 100%
    position relative
    

    &__title
        text-align center
        color white
        position relative
        width 100%
        height 100%


    &__text-two
        color rgba(255, 255, 255, 0.638)
        position relative
        align-items center
        text-align justify
        padding 20px


.info
    background-color orange
    width 100%
    height 100%
    margin-top -120px
    text-align center

 
    &__rigth
        text-align justify
        text-indent 1em
        font-size 30px
        display grid
        align-items center
        position relative
        color rgba(255, 255, 255, 0.862)
        width 100%
        height 100%
        margin 0px auto
        background-color #3f3f3f
    

    &__rigth__two
        font-size 20px
        background-color #bf930d
        position relative
        justify-content space-around
        align-items center
        text-align justify
        display flex
        margin-top 20px
        margin 0px auto
        color rgba(0, 0, 0, 0.587)
        width 100%
        height 100%
        

