@require 'ui/config'
@require 'modules/user_form'
@require 'modules/nav_bar'
@require 'ui/modal'
@require 'ui/car-table'
@require 'modules/footer'
@require 'ui/costcenter-table'
@require 'ui/usertype-table'
@require 'ui/search'
@require 'ui/mining-table'


body
    padding 0
    border 0
    margin 0

@require 'ui/hero'
@require 'modules/table'

.navbar__item
    cursor pointer

.download-table
    background-color white
    color #333
    padding 1em 2em 3em
    width 50vw
    max-width 700px
    box-sizing border-box
    font-size .9em

    &__title
        text-align center
        font-size 1.8em
        padding 1em 1em 3em

    &__head
        display grid
        grid-template-columns repeat(4, 1fr)

    &__item
        display grid
        grid-template-columns repeat(4, 1fr)
        gap 1em
        margin-bottom .5em
        justify-content space-between
        align-items center
        border-bottom 1px solid #efefef
        text-decoration none
        color #333

    &__icon
        text-align center

        img
            &:hover
                cursor pointer

    &__date
        text-align center

    &__noExpired
        text-align center


.content-table
    min-height 80vh


.search-section
    margin 1.5em 0
    display flex
    align-items center
    justify-content center
