@require 'ui/config'
@require 'modules/user_form'
@require 'modules/nav_bar'
@require 'ui/modal'
@require 'ui/car-table'
@require 'modules/footer'
@require 'ui/costcenter-table'
@require 'ui/usertype-table'
@require 'ui/search'
@require 'ui/mining-table'

body
    padding 0
    border 0
    margin 0

@require 'ui/hero'
@require 'modules/table'

.navbar__item
    cursor pointer

.download-table
    background-color white
    color #333
    padding 1em 2em 3em
    width 50vw
    max-width 700px
    box-sizing border-box
    font-size .9em

    &__title
        text-align center
        font-size 2em

    &__head
        display grid
        grid-template-columns .2fr 1fr 1fr 1fr 1fr

    &__item
        display grid
        grid-template-columns .2fr 1fr 1fr 1fr 1fr
        gap 1em
        margin-bottom .5em
        justify-content space-between
        align-items center
        border-bottom 1px solid #efefef
        text-decoration none
        color #333

    &__icon
        text-align center

        img
            &:hover
                cursor pointer

    &__date
        text-align center

    &__noExpired
        text-align center

.content-table
    min-height 80vh

.symbology 
  width 320px

.title_symbology 
  text-align center
  font-size 1.5em
  padding 1em

.symbology-row 
  display flex
  padding-left 30px
  flex-direction row
  justify-content space-between
  margin-bottom 10px

.symbology-item 
  display flex
  flex-direction row
  align-items center

.square 
  width 10px
  height 10px
  margin-right 5px
  display inline-block

.green 
  background-color green


.yellow 
  background-color #ffd257

.red 
  background-color red

.gray 
  background-color #333

li 
  list-style none
  margin-bottom 10px
  margin-left 20px

.search-section
    margin 1.5em 0
    display flex
    align-items center
    justify-content center

.download-table
    height 700px
    overflow-y scroll
    background-color white

.document-box
    display block
    // border 1px solid gray
    width 18px
    height 18px
    border-radius 50%

    &--green
        background-color green

    &--yellow
        background-color #ffd257

    &--red
        background-color red

    &--gray
        background-color #363636
